*.foreground:	#dad6ca
*.background:	#131420
*.cursorColor:	#dad6ca

!! Black
*.color0:	#131420
*.color8:	#444444

!! Red
*.color1:	#9C6A58
*.color9:	#9C6A58

!! Green
*.color2:	#BF6741
*.color10:	#BF6741

!! Yellow
*.color3:	#D19B5E
*.color11:	#D19B5E

!! Blue
*.color4:	#58688A
*.color12:	#58688A

!! Magenta
*.color5:	#8D7095
*.color13:	#8D7095

!! Cyan
*.color6:	#3ED7B7
*.color14:	#3ED7B7

!! White
*.color7:	#dad6ca
*.color15:	#dad6ca

!! Transparency (0-255):
st.alpha:	230

!! Set a default font and font size as below:
*.font:	DejaVu Sans Mono-10
